<script type="text/javascript">
	$(function() {
		$('#slideshow img:first').fadeIn(1000, function() {
					$('#slideshow').cycle();
			});
	});
</script>
<div class="post">
	<div class="titlevideo">
		<script type="text/javascript">playVideo('https://www.amazon.ca/clouddrive/share/KiE6xFZ8Zsv84zljo6sCMmz1F3dEqW4taSl71SAaosA');</script>
		<div class="pagetitle"><%= @title %></div>
		<p class="meta">Posted by <a href="#">me</a> on December 10, 2012	&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (0)</a></p>
	</div>
	<div class="entry">
		<p>
		I did not watch the fight. There was a housewarming party at a co-employee's place and we watched Benson Henderson beat Nate Diaz 
		and BJ Penn being pummeled by a Canadian. Then we watched a movie, I, Robot. Maybe I already had a premonition. I knew Pacquiao 
		was on the decline. After attaining his peak at the Cotto fight, he was steadily going downhill. Still, I cannot shake off the 
		feeling of extreme disappointment after reading the news the next day. 
		</p>
		<p>
		We all knew who won during the third Pacquiao-Marquez fight. Almost all Filipinos I talked to after the fight said Pacquiao lost, so most 
		of us cannot understand why the judges gave the win to Pacquiao. With this fourth fight, Marquez got his vindication and sweet revenge. 
		No other boxer deserves the honor of retiring the Pacman legend than Juan Manuel Marquez. Pacman was beaten by a good man in terms of 
		character, work ethic, dedication to career and devotion to family. Congratulations, Marquez. You have long deserved that win. And viva Mexico.
		</p>
		<p>
		To the rest of the world, if you liked and admired our hero in his heyday, we appreciate it. We are in the throes of extreme national grief 
		right now, the day after our hero got knocked out from his pedestal right in the wake of widespread devastation and death from a powerful 
		typhoon just a week ago. We were hoping that our spirits will be lifted; we got a double whammy instead.
		</p>
		<p>
		The legend is gone. So long, Pacman. It was one long joyride and we loved every minute of it. We will always remember the periods of extreme 
		pride and joy you brought us in the midst of our mostly impoverished lives. How the whole nation erupted in joy after you won against Barrera. 
		How you went up to lightweight to challenge the champion and made David Diaz look like an amateur, even though it was your first time to fight 
		at lightweight. And you won the title. It was the first time a Filipino won a world title at lightweight, ever.
		</p>
		<p>
		Then you made De La Hoya quit on his stool when all the betting odds were against you. And that was at welterweight. We were delirious. How 
		you knocked out The Hitman Hatton with a stunning punch that shocked the nation. For a few seconds that seemed like forever, the whole nation 
		was silent with bated breath because we were thinking more about Hatton than your victory. Then you made Cotto back pedal under your relentless 
		and technically brilliant assault. If five years ago somebody will tell me that you will be fighting - and winning - at welterweight, I will be laughing. 
		</p>
		<p>
		Your story will always be a source of inspiration: from extreme poverty, like many of us, to unprecedented heights of fame and riches the rest 
		of us can only dream of. All achieved by dint of hard work and the will to succeed. 
		</p>
		<p>
		Welcome back, Manny. Now that the Pacman legend is dead, it is time for us Filpinos to grow up. We will recover. And as we learn to achieve on 
		our own, we will soon be making of our selves our own heroes. Now, Manny doesn't have to carry the hopes of a whole nation on his back. That was 
		one tough burden. Now he can be an everyday man again. Goodbye, Pacman. Hello, Manny.
		</p>
	</div>
</div>
