<script type="text/javascript">
	$(function() {
		$('#slideshow img:first').fadeIn(1000, function() {
					$('#slideshow').cycle();
			});
	});
</script>
<div class="post">
	<div class="titlevideo">
		<script type="text/javascript">playVideo('https://dl.dropboxusercontent.com/u/49292578/pacquiao/floydpoochieao.mp4');</script>
		<div class="pagetitle"><%= @title %></div>
		<p class="meta">Posted by <a href="#">me</a> on January 6, 2011&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (0)</a></p>
	</div>
	<div class="entry">
		<p>
		I was on a crowded bus one late afternoon when a guy squeezed his way near me and asked if I am a Filipino, then 
		asked if I know Manny Pacquiao. I said yes, wondering. This was in December 2003, which means I was just three 
		months in Canada as an immigrant, <i>press op da boat</i>.
		</p>
		<p>
		Luckily I happened to know Pacquiao because I have seen one of his fights before I left the Philippines to work 
		in Saudi Arabia in 1999, and that was his fight against a Thai boxer (Chatchai Sasakul). I still remember what I 
		was thinking while watching the fight: this Pacquiao guy isn't going to last long in his career; he is tough, I 
		know, but he keeps getting hit because he always goes forward recklessly just to get a shot at the opponent.
		</p>
		<p>
		In the four years I stayed in Saudi Arabia, I didn't know that Pacquiao was steadily gaining a huge fan base 
		among my countrymen back home. I also didn't know that non-Filipinos were also taking notice, so I was surprised. 
		</p>
		<p>
		Back to that crowded bus with a middle-eastern-looking guy in front of me talking animatedly about Manny Pacquiao: 
		"Barrera was supposedly the most feared boxer around, but Pacquiao simply treated him like he's nothing! He beat 
		Barrera so bad!" I was getting a bit embarrassed by his excitement because we were on a crowded bus, but he just 
		went on. "Man, he is unbelievable! He is so good! Barrera was knocked down several times! Man, Pacquiao is a beast!"
		</p>
		<p>
		He went on and on with his thick accent (my accent is thick too but I am unfamiliar with his), so when he had time 
		to pause, I asked him what country he is from and he answered "Afghanistan." I was surprised and wondered to myself: 
		since when did Afghanistan had a boxing tradition? And why is this guy talking to me about boxing when his country 
		is being bombed to kingdom come by the Americans? I would rather we talked about <i>that</i>.
		</p>
		<p>
		I haven't heard of any Afghan world-class boxer, much less a world champion. We all know that the Mexicans and 
		other Latinos dominate the lower weight classes (aside from blacks), although from time to time I hear of a 
		Filipino or a Thai or a Korean or a Japanese get hold of a title, but oftentimes we Asians are beaten by the Latinos. 
		But an Afghan? What has boxing got to do in that arid country? You cannot use fists for hunting to get food on the 
		table. I could imagine Afghans to be sharpshooters as most of them were born with a gun next to their cribs (politically 
		incorrect stereotyping), so using fists and fisticuffs should be impractical and a rarity. Which could hardly qualify as a tradition.
		</p>
		<p>
		Through the years I got used to the Manny Pacquiao popularity train as more and more people, not just Filipinos,
		were joining the bandwagon. After watching a Pacquiao match (against De La Hoya), I promptly joined the bandwagon 
		too. I was stunned at the extent of his improvement. He was no longer the wild brawler I saw before. Now he is a 
		complete boxer with a sleek finesse. Watching him fight in the ring today is like watching a virtuoso dance 
		performance. I was hooked. 
		</p>
		<p>
		Before, like his fights with Marquez, he would grab each opportunity and lunges even when his body is still	in an 
		awkward stance. Before David Diaz, Pacquiao is more or less a brawler. Starting with Diaz, he became more refined and 
		well-rounded. Perhaps moving up in weight did a lot to his overall stance, posture and bodily coordination. 
		</p>
		<p>
		Today he is no longer as greedy and patiently waits for the next, better opportunity. And if he doesn't see an opening, 
		he creates one. While Mayweather takes forever to lay his traps, Pacquiao sets his and pounces like it is the most natural 
		thing like breathing. Freddie Roach is the key to Pacquiao's continuing improvement. And lately, Alex Ariza too.
		</p>
		<p>
		Because from time to time Pacquiao gets bitten by his own traps, his style is fraught with risks, which makes his 
		fights unpredictable, which makes for very exciting fights, which keeps viewers on the edge of their seats in 
		suspense, anticipation, alarm, awe and wonder, in random order, because viewers never know what will happen next.
		</p>
		<p>
		For me, the definitive Pacquiao fight is the Cotto fight. After reviewing fights before and after, I keep coming back 
		to it. His composure, pacing, focus, ring generalship, adherence to the fight plan, toughness of chin and boxing skills 
		were all challenged to the utmost. It was the most competitive five rounds Pacquiao had been in in recent memory. I doubt 
		if Pacquiao will ever meet somebody else as talented. And I doubt if Pacquiao will ever meet somebody	who can draw 
		more from him than Cotto did. Because of that fight, I have a feeling I have already seen the best of Pacquiao.
		</p>
		<p>
		A few months ago some Turkish friends were gathered in our living room and soon we got around to talking about the UFC. 
		We were	speculating about who would win between Anderson Silva and Georges St. Pierre. We also talked about Chuck Liddel 
		and Lyoto Machida. Then somebody mentioned Pacquiao. Because UFC was already gaining mainstream attention seemingly	at 
		the expense of boxing, I was intrigued, so I asked "So you know Manny Pacquiao?" and they answered "Of course! Everybody 
		knows Manny Pacquiao!" So I asked, "Do you know Floyd Mayweather?" and they answered "Who?"
		</p>
		<p>
		One time while on break at work, I asked my mostly Iranian (or rather Persian) workmates if they know Pacquiao, 
		and they said yes. So I asked if they know Floyd Mayweather and all I got were blank stares. Perhaps they were 
		wondering why I suddenly talked about the weather in May. 
		</p>
		<p>
		So now, January 2011, I got to thinking about Floyd Mayweather and his impending fight with Pacquiao, which is 
		always impending. If Floyd is so popular, how come he isn't even that known in Canada which is just next door? 
		If he isn't that popular in Canada, how can he expect to be popular in, say, Russia, India or China? (If you 
		ask me, that is already half of mankind.)
		</p>
		<p>
		Floyd claims to be the face of boxing. His minions (mostly blacks) emphatically agree. I also agree, if it is among 
		blacks. Maybe also among some Anglo-Saxons (in the US, UK, Australia). Not here in Canada though. And, most likely, not 
		anywhere else. But if there are five million rabid and noisy Pacquiao fans and only five thousand rabid and noisy 
		Mayweather fans, the din will still be the same and give off the illusion that both sides have equal numbers.
		</p>
		<p>
		But judging from the excitement among boxing fans about possible fights between Haye and the Klitschko brothers, Khan 
		and Marquez, Bradley and Alexander, Khan and the winner of Bradley-Alexander, a Martinez-Williams rubber match, Montiel 
		and Donaire, and Mosley and Pacquiao, despite the face of boxing being conspicuously absent, boxing is still alive and, 
		well, punching.
		</p>
	</div>
</div>
