<script type="text/javascript">
	$(function() {
		$('#slideshow img:first').fadeIn(1000, function() {
					$('#slideshow').cycle();
			});
	});
</script>
<div class="post">
	<div class="titlevideo">
		<script type="text/javascript">playVideo('https://dl.dropboxusercontent.com/u/49292578/pacquiao/ringlife.mp4');</script>
		<div class="pagetitle"><%= @title %></div>
		<p class="meta">Posted by <a href="#">me</a> on December 10, 2010
			&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (0)</a>
		</p>
	</div>
	<div class="entry">
		<p>
			Quotes from the Senior: 
		</p>
		<p>
			<i>
			"Pacquiao is using steroids." 
		</p>
		<p>
			"Pacquiao is using A-side meth." 
		</p>
		<p>
			"I'll never allow li'l Floyd to fight Pacquiao."
		</p>
		<p>
			"The fight can be made anytime they want the fight to be made. Little Floyd definitely ain’t scared 
			of no Pacquiao. That’s the last thing in the world that little Floyd is scared of, a little Filipino 
			midget. Definitely that’s not the case.”
			</i>
		</p>
		<p>
			And from the Junior: 
		</p>
		<p>
			<i>
			"When that little midget Poochie-ao gets off them power pellets, after I beat him, I'll make him cook 
			some rice and sushi roll with cat or dog."
			</i>
		</p>
		</i>
		<p>
			Perhaps the most ingenious way to get out of a fight you are not sure of winning is to accuse the 
			other side of cheating, hoping the public will believe and ruin the reputation of your rival while 
			preserving your reputation and maintaining your self-esteem. But in the case of the Pacman, the 
			Mayweathers are spot on.
		</p>
		<p>
			Pacquiao is on 'roids. That is an incontrovertible fact. Steroids, HGH, EPO, blood doping, A-side meth, 
			power pellets, everything the Mayweathers are accusing Pacquiao of taking, he is guilty of all of them. 
			He is a full-blown drug junkie, it's even a wonder he can still stand upright, much more fight!
		</p>
		<p>
			Anything the Mayweathers can conceive and accuse Pacquiao of taking, he takes them. Even those the Mayweathers 
			cannot conceive, now and in the future, he is already taking them. The very best pharmaceutical researchers 
			don't have a clue and haven't discovered them yet, but he is already taking them! He is fooling us! He is 
			fooling the whole world! A-side meth, power pellets, steroids, HGH, EPO, UFO, you name it, he takes them all! 
		</p>
		<p>
			What the Mayweathers don't know (which I know) is that Pacquiao is on things even more serious, terrestrial 
			in origin or otherwise: he is using asteroids, androids, mongoloids, humanoids, hemorrhoids, sigmundfloyds, 
			polaroids, all kinds of 'roids. He is using potent potions known or unknown to mankind, even those that 
			will still be discovered in the future.
		</p>
		<p>
			Since there are countless Mayweather minions who readily joined the Pacquiao-is-using-steroids bandwagon 
			and giving their two cents worth of expert analysis, I want to add my own two cents worth 
			of expert analysis.
		</p>
		<p>
			&bull;
			Our hair is the silent witness to our history of drug-taking. Which means our hair can be taken as
			samples for drug-testing. So the simple solution: shave off your hair! Now, who is the fighter who 
			shaves his hair? That's so obvious: Pacquiao!
		</p>
		<p>
			&bull;
			If you are surrounded by people who are obviously taking steroids to gain muscle mass, it is most likely 
			that you also partake of them. Who is the fighter surrounded by giant, muscle-bound bodyguards? Pacquiao!
		</p>
		<p>
			&bull;
			Repeated use of steroids makes your head and face swell and round-shaped. Who is the round-shaped
			swell-head between the two, literally and figuratively? Pacquiao!
		</p>
		<p>
			&bull;
			Frequent use of steroids makes you irascible, temperamental and generally obnoxious. Who displays 
			all these characteristics to the extreme? Pacquiao!
		</p>
		<p>
			&bull;
			Regular use of steroids gives you rippling muscles. Now, between the two, who is the boxer with a well-defined 
			musculature? No brainer, Pacquiao!
		</p>
		<p>
			Since all the proof is there to see clear as daylight, there is no doubt, it is so obvious: Pacquiao is guilty.
		</p>
		<p>
			Okey.
		</p>
		<p>
			It is widely believed that some boxers are taking illegal short-cuts just to get an edge over their	opponent. 
			They try to refute the age-old truism that talent can only be improved by experience, hard work and practice, 
			practice, practice. It is also common knowledge that drug-testing in boxing sucks, so only a few boxers are caught. 
		</p>
		<p>
			But the fact is, of all the boxers who were caught, none of them improved. Which illustrates the fact that 
			these wonder-drugs and short-cut methods cannot enhance the one thing that you really need in boxing: talent. 
		</p>
		<p>
			Of course the Mayweathers won't acknowledge this glaring fact: since there are so many boxers who are taking illegal 
			enhancers, why is it that there is only one Pacquiao?
		</p>
		<p>
			Floyd Mayweather Sr.: "How can he go up in weight from just 106 pounds to 147 pounds and still carry his 
			speed and power? That is impossible. It just ain't done. Pacquiao is on something."
		</p>
		<p>
			Whatever 'something' it is, the most aggressive, nosiest and most ambitious sports journalists aiming to 
			get the scoop of a lifetime still haven't unearthed the something that Pacquiao is taking. It seems no 
			amount of bribes, intimidation, financial rewards or job offers could produce any results (but he must
			be on something!).
		</p>
		<p>
			Ironically, the Mayweathers have given Pacquiao the best compliment he has ever received from a potential 
			opponent, and in the process has unwittingly acknowledged Pacquiao's greatness:
		</p>
		<p>
			<i>
			"He ain’t got no problem with fighting all the big guys — de la Hoya, Ricky Hatton, the other 
			African guy, the other guy who he fought with the title. I’m just saying he beat these guys, Cotto, 
			he beat all these guys like they’re nothing. Pacquiao’s one of the biggest faggots on the planet."
			</i>
		</p>
		<p>
			Floyd senior conveniently forgot that his own son started at 116 and went on to fight at 154. Maybe what he 
			meant is that only a Mayweather is capable of doing that and that anybody else doing that must be cheating. 
			Hmm, he has a point there.
		</p>
		<p>
			Shane Mosley, just before he fought Floyd Mayweather Jr.: "I don't know why they keep saying, 'steroids, 
			steroids, steroids.' Why does he shave his hair? I don't know why he shaves his hair. You know, when 
			someone keeps accusing somebody of something, usually they are the ones doing it."
		</p>
	</div>
</div>

