<script type="text/javascript">
	$(function() {
		$('#slideshow img:first').fadeIn(1000, function() {
			$('#slideshow').cycle();
		});
	});
</script>
<div class="post">
	<div class="titlevideo">
		<script type="text/javascript">playVideo('https://dl.dropboxusercontent.com/u/49292578/pacquiao/floydbrian.flv');</script>
		<div class="pagetitle"><%= @title %></div>
		<p class="meta">Posted by <a href="#">me</a> on December 10, 2010&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (0)</a></p>
	</div>
	<div class="entry">
		<p>
			Some boxing 'experts', officials and aficionados hold the belief that Floyd "Money" Mayweather is the very essence 
			of boxing and is therefore infinitely superior to the Pacman, and if they ever meet in the ring it will be another 
			rout by the supremely talented Mayweather against the overrated and overhyped upstart. And if they never meet in the 
			ring, that means Pacquiao is ducking so Pacquiao alone should get the blame. 
		</p>
		<p>
			So here is the gospel according to these fans, which boils down to Mayweather beating Pacquiao any day, or night.
		</p>
		<p>
			<div class="thumb">
				<%= image_tag("accurate.jpg", onclick: "return playVideo('accurate.flv');") %>
			</div>
			Mayweather is consistently accurate. He is always on target. He never misses. 
			 
		</p>
		<p>
			<div class="thumb">
				<%= image_tag("defense.jpg", onclick: "return playVideo('defense.flv');") %>
			</div>
			Mayweather's defense is the best ever in the sport. His defense is virtually impregnable. No one can touch him. 
		</p>
		<p>
			<div class="thumb">
				<%= image_tag("may-cas.jpg", onclick: "return playVideo('may-cas.flv');") %>
			</div>
			Mayweather was never beaten. Forty-one fighters have tried but failed utterly. He has never tasted defeat. 
			He is virtually unbeatable.
		</p>
		<p>
			On the other hand, Pacquiao isn't known for accuracy. He simply relies on mass attack, hoping that some of his 
			shots will land. But, with Mayweather on the opposite side, the shots will never find their mark.
		</p>
		<p>
			Pacquiao does not know counter-punching, but simply attacks and attacks and attacks. Pacquiao is a brawler, not 
			a pure boxer the way Mayweather is. Mayweather is infinitely better. Mayweather is the best counter-puncher ever 
			in the sport. He can time his counter-punch by making his opponent miss, then deliver the blow from nowhere, 
			already primed and loaded. Beautiful.
		</p>
		<p>
			Pacquiao is easily hit and was hit even by slow fighters, like Marquez.
		</p>
		<p>
			Pacquiao has three losses and two draws. No, make that five losses and one draw. His fights against Marquez 
			were robberies, so those should be added. 
		</p>
		<p>
			Mayweather never ducked anybody and fought the best fighters out there. Yes, he retired when de la Hoya was
			asking for a rematch, but that was for personal reasons. Mosley, Margarito, Cotto and Williams (who was in 
			welterweight then) were all lining up to challenge him but he opted for retirement. He did not duck anybody.
			And now that Pacquiao is here, Mayweather is still not ducking. Who says he is ducking? Mayweather never 
			ducked anybody. He is simply on vacation.
		</p>
		<p>
			Mayweather is so good his talents are as unassailable as his character. He can walk on water. He can vanish 
			through thin air. And he always speaks the truth, especially when he says he has no problem fighting that guy,
			that midget, as long as he takes the frigging test, even though everybody and his mother in the midget's camp 
			is already saying he is willing to take the test.
		</p>
		<p>
			That, boys and girls, is Mayweather according to his fans. 
		</p>
		<p>
			They are absolutely right, I will not contest what is obvious. 
		</p>
	</div>
</div>
