<div class="post">
	<div class="titlevideo">
		<script type="text/javascript">playVideo('http://www.mediafire.com/watch/n39wj1cp5l1aazu/queenisborn.flv');</script>
		<div class="pagetitle"><%= @title %></div>
		<p class="meta">Posted by <a href="#">me</a> on November 13, 2011&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (0)</a></p>
	</div>
	<div class="entry">
		<p>
		The end of an era. Or the dashing of hopes of a whole nation. Or the realization that our hero is 
		not Superman after all. Or something else.
		</p>
		<p>
		I cannot fully describe what I felt and what my countrymen back home must have felt after the debacle
		with Juan Manuel Marquez last night. We saw a very different Pacman. We saw a very tight, tense, 
		tentative and otherwise lousy amateurish boxer. It's like going back to 2008 and his wild brawling 
		days. Gone was the cool and relaxed demeanor. Gone was the likeable charisma. Instead we saw a 
		distracted, glazed and unfocused ghost of a champ making wild swings and lunges. We were even kidding:
		did somebody give Pacquiao an elixir of amnesia so he will think this is still 2008?
		</p>
		<p>
		At every break during the fight, I can't help yelling at the TV at Freddie Roach to stop advising 
		Pacquiao on strategy and simply tell him to relax because he is so tight, he cannot move, and his eyes 
		are so glazed he is not in the present reality. Tell Pacquiao to not fight toe-to-toe, asshole, and 
		simply to relax and jab his way to the 12th round. There is no way that Pacquiao can follow the game 
		plan, his mind is in another world. He will simply plod and lunge his way in a seeming trance to the 
		incoming barrage of Marquez fists. Can't you see your fighter is different? Tell your fighter to abandon
		the game plan and relax, idiot!
		</p>
		<p>
		Sorry for my cussing, but that was what I felt during the fight. I don't want to take away the role
		Roach played in Pacquiao's rise to fame.
		</p>
		<p>
		But the sad fact is, aside from the Marquez believers, nobody saw it coming.
		</p>
		<p>
		The Pacquiao camp kept telling us that this is the best camp ever. Unlike for the Margarito fight, where 
		we were concerned that the Pacman isn't giving the fight, and thus his training, the full attention 
		it deserves, this time around everything is different. Pacquiao is focused, with more vigor and power
		to his punches. He is more motivated. This fight will surely become spectacular.
		</p>
		<p>
		In fact the problem was exacerbated by the Pacquiao camp. Nobody in the camp saw that the Pacquiao train 
		was headed for derailment; they were all dazzled by the champ's aura, and that aura became the smokescreen 
		for the coming ruin. They kept encouraging and supporting him even when he was already overtraining himself. 
		Nobody decided to put on the brakes or lay down the law. They cannot see that perhaps Pacquiao is getting 
		tighter with every day he overtrains and do not see a problem when Pacquiao gives almost everything he has 
		in sparring instead of just halfway, or keeps running even more than he should.
		</p>
		<p>
		Pacquiao's stares seem glazed or even dazed. At interviews before the fight, he cannot seem to focus 
		on the subject. I have no idea why the Pacquiao camp, including Freddie Roach and Alex Ariza, cannot 
		see this and instead kept saying it was the best camp ever. How can they not see that the champ is not 
		himself, that his mind is slowly drifting somewhere else, that his stare is becoming otherworldly?
		</p>
		<p>
		I can't even be bothered about what the Mayweather camp will soon issue: a) that is what he can do to
		Marquez after my total domination? do i need to fight this clown, this amateur? b) that is all you can 
		do? come, let's fight on May 5! but completely on my terms! you botched it, idiot. now i'm the lone superstar!
		They will egg Pacquiao in the media to take the fight knowing that the Pacquiao camp wouldn't be in the 
		right frame of mind to accept, and if the Pacquiao camp says another rematch with Marquez is paramount,
		they will all announce to the media that Pacquiao is scared.
		</p>
		<p>
		I also can't be bothered about who won. Yes, Pacquiao may have eked out a victory, but does it matter? 
		For me, it was a total dismantling of Pacman the legend. He was reduced to a mere mortal, and a bludgeoned 
		Pacquiao mortal is painful to behold.
		</p>
		<p>
		It will take sometime before all of this really sinks in, or before somebody makes a really sane analysis
		of what happened, but until then, I won't be able to define what I felt. And I guess most of my countrymen 
		back home too.
		</p>
	</div>	
</div>
		
